.card-image1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.card-image2 {
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 20px;
    gap: 20px;
    justify-content: center;
    
}
.container-mac {
  display: flex;
  justify-content: space-evenly;
}
.modal-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
}
.card-produt {
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color:#FFFFFF;
    padding: 30px;
    border-radius: 10px;
       
}
/* From Uiverse.io by adamgiebl */ 
button {
  position: relative;
  font-family: inherit;
  font-size: 18px;
  border-radius: 40em;
  width: 8em;
  height: 3em;
  z-index: 1;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;
}

button .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 3em;
  border-radius: 40em;
  border: none;
  background: linear-gradient(
    rgba(255, 255, 255, 0.473),
    rgba(150, 150, 150, 0.25)
  );
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

button .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 5em;
  height: 3em;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

button .blob:nth-child(2) {
  left: 0em;
  top: 0;
  background: #ff930f;
}

button .blob:nth-child(3) {
  left: 1.8em;
  top: 0;
  z-index: -1;
  background: #bf0fff;
}

button .blob:nth-child(4) {
  left: 4em;
  top: -1em;
  background: #ff1b6b;
}

button .blob:nth-child(5) {
  left: 4.3em;
  top: 1.6em;
  background: #0061ff;
}

button:hover .blob:nth-child(2) {
  background: #0061ff;
}

button:hover .blob:nth-child(3) {
  background: #ff1b6b;
}

button:hover .blob:nth-child(4) {
  background: #bf0fff;
}

button:hover .blob:nth-child(5) {
  background: #ff930f;
}

button:hover .blob {
  transform: scale(1.3);
}

button:active {
  border: 2px solid white;
}
.rf-product-image-wrapper {
  position: relative;   
  overflow: hidden;
  border-radius: 20px;
}

.rf-product-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);

  display: flex;             
  align-items: center;        
  justify-content: center; 

  opacity: 0;
  transition: opacity .4s cubic-bezier(.25,.1,.25,1);
}


.rf-product-link {
  transform: translateY(20px);
  opacity: 0;
  transition: all .4s cubic-bezier(.25,.1,.25,1);
  color: black;
}
.rf-product-card:hover .rf-product-overlay {
  opacity: 1;
}

.rf-product-card:hover img {
  transform: scale(1.06);
}

.rf-product-card:hover .rf-product-link {
  transform: translateY(0);
  opacity: 1;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-conteudo {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 500px;
  max-width: 90%;
  text-align: center;
  position: relative;
}

.modal-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.fechar {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}
.modal h2 {
  font-size: 28px;
  font-weight: bold;
}

.btn-comprar {
  background-color: rgb(18, 118, 158);
}

