body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    background-color:(255, 255, 255);
}
.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.section-title-center {
    color: #005f00;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75rem;
    border-bottom: 2px solid #005f00;
    padding-bottom: 2px solid #a3e635;
}
.button-contato {
    background-color: black;
    color: white;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.row {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

input, textarea {
  padding: 10px;
  width: 250px;
}

textarea {
  width: 520px;
  height: 120px;
}




