.header-style {
    background-color: #a2a2a2;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.header-logo-container {
    display: flex;
    align-items: center;
    gap:10px;
}
.logo-image {
    font-size: 24px;
    font-weight: bold;
}
.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
