.container-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
